<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>415505937790-a5id9hk7vrapiuo8i37kqv0hj694a4mk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.415505937790-a5id9hk7vrapiuo8i37kqv0hj694a4mk</string>
	<key>API_KEY</key>
	<string>AIzaSyBnhWdHa9PZVatr83AqC_Jz-AOWWV4CFjs</string>
	<key>GCM_SENDER_ID</key>
	<string>415505937790</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Morelli-Enterprises.NewWaveStore</string>
	<key>PROJECT_ID</key>
	<string>newwavestore-78344</string>
	<key>STORAGE_BUCKET</key>
	<string>newwavestore-78344.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:415505937790:ios:aa37551fa4bcbac8d3ef2f</string>
</dict>
</plist>